{% extends "layout.html" %} {% block title %}my plans{% endblock %} {% block
main %}

<div class="container wrap-box-shadow">
	<div class="container mb-4">
		<h1 class="display-5 fw-bold text-body-emphasis lh-1">My plans</h1>
	</div>

	<div class="container table-responsive">
		<table class="table">
			<thead class="table-primary">
				<tr>
					<th class="text-left width-15 text-capitalize">Name</th>
					<th class="text-left width-60 text-capitalize">Description</th>
					<th class="text-center width-15 text-capitalize">Last edited</th>
					<th class="width-5"></th>
					<th class="width-5"></th>
				</tr>
			</thead>
			<tbody>
				{% for plan in plans %}
				<tr class="align-middle">
					<td class="text">
						{{ plan["name"] }}
					</td>
					<td class="text">
						<span class="text-overflow-dynamic-container">
							<span class="text-overflow-dynamic-ellipsis">
								{{ plan["description"] }}
							</span>
						</span>
					</td>
					<td class="text-center">{{ plan["date"] }}</td>
					<td class="text-center">
						<form action="/view_plan?plan_id={{ plan['id'] }}" method="post">
							<button class="btn btn-info btn-rounded" name="view_plan" type="submit">
								<i class="fa-solid fa-magnifying-glass"></i>
							</button>
						</form>
					</td>
					<td class="text-center">
						<form action="/my_plans" method="post">
							{% set plan_name = plan["name"] %}
							<button class="btn btn-danger btn-rounded" name="delete_plan" value="{{ plan['id'] }}"
								type="submit" onclick="return confirm('Are you sure you want to delete \'{{ plan_name }}\' plan?');">
								<i class="fa-solid fa-trash-can"></i>
							</button>
						</form>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<form action="/my_plans" method="post">
			<h3 class="mt-4">Add new plan:</h3>
			<div class="row">
				<div class="col-lg-8 col-12">
					<div class="input-group mb-3">
						<input type="text" autocomplete="off" name="new_plan_name" class="form-control"
							placeholder="Name your plan" />
						<textarea class="form-control" autocomplete="off" name="new_plan_description"
							placeholder="Add a proper description to your new plan"></textarea>
						<button class="btn btn-primary" type="submit" name="add_new_plan">
							<i class="fa-solid fa-check"></i>
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}